.services {
  width: 100%;
  padding: 25px 0;
  background-color: #EBF3FF;
}

.services__container {
  width: 100%;
  max-width: 1800px;
  padding: 0 10px;
  margin: 0 auto;
}

.services__header {
  margin-bottom: 20px;
  text-align: left;
}

.services__title {
  margin-bottom: 15px;
  color: #2D3135;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.services__subtitle {
  max-width: 600px;
  line-height: 1.5;
  color: #6D7278;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.services__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  background-color: #FFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0 / 0.05);
}

.service-card__image-wrapper {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.service-card__image {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  object-fit: cover;
}

.service-card:hover .service-card__image {
  transform: scale(1.03);
}

.service-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.service-card__category {
  margin-bottom: 20px;
  color: #0061FF;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.service-card__name {
  min-height: 36px;
  margin-bottom: 10px;
  color: #2D3135;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.service-card__description {
  display: -webkit-box;
  overflow: hidden;
  flex-grow: 1;
  line-height: 24px;
  margin-bottom: 15px;
  color: #737373;
  text-overflow: ellipsis;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.service-card__link {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  border: 1px solid #0061FF;
  border-radius: 20px;
  color: #0061FF;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  gap: 10px;
}

.service-card__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #0061FF;
}

.service-card__link:hover {
  color: #FFF;
  background-color: #0061FF;
}

.service-card__link:hover svg path {
  fill: #FFF;
}

@media screen and (min-width: 768px) {
  .services__container {
    padding: 0 50px;
  }

  .services__grid {
    gap: 30px;
  }

  .service-card {
    max-width: 335px;
  }
}

@media screen and (min-width: 1440px) {
  .services__container {
    padding: 0 200px;
  }

  .services__header {
    margin-bottom: 30px;
  }

  .services__title {
    font-size: 36px;
  }

  .services__grid {
    gap: 40px;
  }

  .service-card {
    flex: 1;
    max-width: 550px;
  }
}